@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

body {
  width: auto;
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  background-image: url("./assets/Desktop/levels/BG-blue.png");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  text-align: center;
}
h1 {
  font-weight: 900;
}

/* End Of Globals */
.heading-container {
  border-bottom: 1px solid white;
}
.heading-container h1 {
  margin-top: 50px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 75px;
}
.game-info {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game-info .counter-container p {
  font-size: 25px;
  font-weight: 300;
}
.game-info .counter-container #counter,
#counter-max {
  font-size: 40px;
  font-weight: 900;
}

.game-info .level-counter {
  margin: 28px 0;
  width: 165px;
  height: 28px;
  background-color: #ffffff;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-info .level-counter p {
  font-size: 16px;
  color: #2e3092;
  font-weight: 900;
}

@media (max-width: 1500px) {
  .heading-container h1 {
    text-align: center;
    margin-top: 23px;
    font-size: 32px;
  }
  .game-info {
    margin-top: 10px;
  }
  .game-info .counter-container p {
    font-size: 17px;
  }

  .game-info .counter-container #counter,
  #counter-max {
    font-size: 25px;
  }

  .game-info .level-counter {
    margin-top: 12px;
    margin-bottom: 15px;
    width: 110px;
    height: 22px;
  }
  .game-info .level-counter p {
    font-size: 13px;
  }
}
/* End Of 600px */

/* Grid Container */
.grid-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.grid-container .grid {
  box-sizing: border-box;
  display: grid;
  grid-gap: 9px;
  grid-template-columns: repeat(4, auto);
  perspective: 1000px;
}
.grid-container .grid .card {
  width: 157px;
  height: 157px;
  position: relative;
}
.card {
  transition: transform 600ms;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}
.card img {
  width: 157px;
  height: 157px;
}
.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--back {
  transform: rotateY(180deg);
}

.card.is-flipped {
  transform: rotateY(180deg);
}
@media (max-width: 1500px) {
  .grid-container .grid {
    grid-gap: 8px;
  }
  .grid-container .grid .card {
    width: 92px;
    height: 92px;
    background-size: cover;
  }
  .grid-container img {
    width: 92px;
    height: 92px;
  }
}
@media (max-width: 800px) {
  .grid-container .grid {
    grid-gap: 8px;
  }
  .grid-container .grid .card {
    width: 68px;
    height: 68px;
    background-size: cover;
  }
  .grid-container img {
    width: 68px;
    height: 68px;
  }
}
/* Game Time Info */
.game-time {
  position: relative;
  width: 600px;
  padding-bottom: 40px;
  border-bottom: 1px solid white;
}
.game-time p {
  margin-top: 50px;
  font-size: 25px;
  font-weight: 300;
}
.game-time #game-time,
#hour,
#minute,
#seconds {
  font-weight: 900;
  font-size: 40px;
}
@media (max-width: 1500px) {
  .game-time {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding-bottom: 19px;
  }
  .game-time p {
    margin-top: 19px;
    font-size: 18px;
  }
  .game-time #game-time,
  #hour,
  #minute,
  #seconds {
    font-weight: 900;
    font-size: 25px;
  }
}
/* Game Rules */

.game-rules {
  margin-top: 28px;
  width: 635px;
}
.game-rules h1 {
  text-transform: uppercase;
  font-size: 30px;
}
.game-rules p {
  margin-top: 28px;
  text-align: left;
  font-size: 16px;
  line-height: 19px;
}
.game-rules a {
  margin-top: 20px;
  display: flex;
  width: 100%;
  text-align: left;
  font-size: 16px;
  color: #97a4ff;
  font-weight: 400;
}
@media (max-width: 1500px) {
  .game-rules {
    max-width: 305px;
    margin-top: 35px;
  }
  .game-rules h1 {
    font-size: 25px;
  }
  .game-rules p {
    margin-top: 16px;
  }
  .game-rules a {
    margin-top: 20px;
    font-size: 16px;
  }
}
/* Social Container */
.social-container {
  padding-bottom: 230px;
  box-sizing: border-box;
  position: relative;
  margin-top: 39px;
  width: 635px;
}
.social-container h2 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 25px;
}
.social-container .cocial-icon-grid {
  display: flex;
  align-items: center;
}
.social-container .social-icon-grid img {
  margin: 0 25.5px;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  box-shadow: 6px 6px 20px #00000085;
  border: 1px solid #00000000;
}
@media (max-width: 1500px) {
  .social-container {
    padding-bottom: 64px;
    margin-top: 38px;
    width: 268px;
  }
  .social-container h2 {
    font-size: 20px;
    margin-bottom: 34px;
  }
  .social-container .cocial-icon-grid {
    width: 300px;
    display: flex;
  }
  .social-container .social-icon-grid img {
    margin: 0 10px;
    border-radius: 50%;
    width: 43.47px;
    height: 43.47px;
  }
}

/* Level End Modal */
#level-end-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #00000099;
  background-size: cover;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: white;
  width: 635px;
  height: 681px;
}
.modal .modal-heading {
  text-transform: uppercase;
  color: #2e3092;
  font-weight: 900;
  font-size: 40px;
}

.modal .first-p {
  color: #2e3092;
  font-weight: 300;
  font-size: 25px;
}
#level-end-time {
  font-size: 40px;
  font-weight: 900;
  color: #2e3092;
}
.modal .second-p {
  color: #2e3092;
  font-size: 20px;
  font-weight: 300;
}
.modal-prize-image {
  margin: 16px 0;
  width: 458px;
  height: 334px;
}
.next-btn {
  background-color: #f49b00;
  border-radius: 50px;
  border: none;
  width: 367px;
  height: 65px;
}
.next-btn a {
  font-weight: 400;
  font-size: 27px;
  color: white;
  text-decoration: none;
}
.next-btn:hover {
  transition: All 600ms ease-in-out;
  opacity: 0.7;
}

@media (max-width: 1500px) {
  .modal {
    width: 600px;
    height: 527px;
  }
  .wrapper-end {
    width: 400px;
  }
  .modal .modal-heading {
    font-size: 30px;
  }
  .modal .first-p {
    text-align: left;
    font-size: 20px;
    line-height: 34px;
  }
  #level-end-time {
    font-size: 27px;
  }
  .modal .second-p {
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
  }
  .modal-prize-image {
    width: 288px;
    height: 210px;
  }
  .next-btn {
    width: 269px;
    height: 49px;
  }
  .next-btn a {
    font-size: 20px;
    font-weight: 400;
  }
}

@media (max-height: 500px) {
  .modal {
    width: 500px;
    height: 300px;
  }
  .wrapper-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    height: 230px;
  }
  .modal-prize-image {
    display: none;
  }
}
@media (max-width: 800px) {
  .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 299px;
    height: 527px;
  }
  .wrapper-end {
    width: 268px;
  }
  .modal .modal-heading {
    font-size: 30px;
  }
  .modal .first-p {
    text-align: left;
    font-size: 20px;
    line-height: 34px;
  }
  #level-end-time {
    font-size: 27px;
  }
  .modal .second-p {
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
  }
  .modal-prize-image {
    width: 288px;
    height: 210px;
  }
  .next-btn {
    width: 269px;
    height: 49px;
  }
  .next-btn a {
    font-size: 20px;
    font-weight: 400;
  }
}
