@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 60px 110px;
  background-image: url("./assets/Desktop/1-Start-page/BG-kitchen.png");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.col-one {
  background-color: #2e3092;
  z-index: 10;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-image: url("./assets/Desktop/1-Start-page/BG-bread-drawings.png");
  width: 60%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.col-one .logo {
  margin-bottom: 2rem;
  width: 40%;
}
.underline {
  margin: 1rem 0;
  width: 45%;
  height: 1px;
  background-color: white;
}
.col-one h3 {
  font-weight: 400;
  margin-bottom: 2rem;
}
.col-one .mobile-image {
  display: none;
}

.play-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff57;
  font-size: 1em;
  width: 140px;
  height: 30px;
  border: 2px solid #ffffff;
  border-radius: 50px;
  text-decoration: none;
  color: white;
}
.col-two {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.col-two .desktop-image {
  width: 80%;
  height: auto;
}

@media all and (max-width: 1000px) {
  main {
    background: none;
    padding: 0;
  }
  .col-two {
    display: none;
  }
  .col-one {
    width: 100vw;
    height: 100vh;
  }
}
@media (orientation: landscape) {
  main {
    background-image: none;
    color: red;
  }
}
