@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.mob {
  color: white;
  background-image: url("./assets/Mobile/Start-page/BG-mob.png");
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 36px;
}
.logo {
  margin: 17px 18px;
  width: 103px;
  height: 81px;
}
.mob h1 {
  font-size: 35px;
  font-weight: bold;
}
.mob h2 {
  font-size: 23px;
  font-weight: 400;
}
.underline {
  margin: 1.5rem 0;
  width: 225px;
  height: 1px;
  background-color: white;
}
.play-btn {
  width: 229px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: 255, 255, 255, 0.34;
  border: 4px solid #ffffff;
  border-radius: 50px;
  text-decoration: none;
  color: #ffffff;
  font-size: 30px;
}
.desktop img {
  display: none;
}
@media only screen and (min-width: 920px) {
  main {
    position: absolute;
    padding: 59px 109px;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url("./assets/Desktop/1-Start-page/BG-kitchen.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mob {
    width: 100%;
    height: auto;
    flex: 1;
  }
  .underline {
    width: 120px;
  }
  .mob img {
    display: none;
  }
  .play-btn {
    width: 10rem;
    height: 4rem;
    font-size: 35px;
  }
  .desktop {
    width: 100vw;
    height: auto;
    flex: 2;
    background-color: brown;
    padding: 10rem;
  }
}
